<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      text-align: center; 
    }
    input {
      margin: 10px 0; 
      padding: 8px;
      width: 200px; 
    }
    button {
      padding: 10px 15px;
    }
  </style>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    Name: <input type="text" name="name" required><br/>
    Email:<input type="email" name="email" required><br/>
    Password:<input type="password" name="password" required><br/>
    Age:<input type="number" name="age" required><br/>
    Course:<input type="text" name="course" required><br/>
  <button type="submit">Register</button>
  </form><br/>
  <a href="/login"> click here for login</a><br>
  <a href="/logout">Logout</a>
</body>
</html>
